<app-header></app-header>
<div class="container">
        
    <div class="row">
        <div class="col-md-4 mb-30">
            <div class="about-info">
                <h4 class="title mb-20">Our Company</h4>
                <p>E-Shop Dream started in the August 2021.</p>
                <p>Our store is created for the online sale of different products easily and securely.</p>  
            </div>
        </div>
        <div class="col-md-4 mb-30">
            <div class="about-info">
                <h4 class="title mb-20">Our Team</h4>
                <p> We are a dynamic and creative team who provide you with a more dynamic and secure E-commerce website 
                to buy our best products and discover our pleasant promotions.</p>
               
            </div>
        </div>
        <div class="col-md-4 mb-30">
            <div class="about-info">
                <h4 class="title mb-20">Our Quality</h4>
                <p>
                    "OUR GOAL IS TO PROVIDE YOU WITH THE BEST AND HAPPIEST PRODUCTS AROUNS" 
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>