<app-header></app-header>
<section>
    <section class="whish-list-section theme1 pt-80 pb-80">
        <div class="container" *ngIf="Wish.length">
            <div class="row">
                <div class="col-12">
                    <h3 class="title mb-30 pb-25 text-capitalize">Your wishList items</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" scope="col">Product Image</th>
                                    <th class="text-center" scope="col">Product Name</th>
                                    <th class="text-center" scope="col">Stock Status</th>
                                    <th class="text-center" scope="col">Price</th>
                                    <th class="text-center" scope="col">action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of Wish">
                                    <th class="text-center" scope="row">
                                        <img [src]="data.img" alt="img">
                                    </th>
                                    <td class="text-center">
                                        <span class="whish-title"> {{data.name }}</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-success position-static">In Stock</span>
                                    </td>
                                    
                                    <td class="text-center">
                                        <span class="whish-list-price">
                                    $ {{data.price}}
                                </span></td>

                                    <td class="text-center">
                                        <a (click)="addCart(data)" routerLink="hh"  href="#"> <span class="trash"><i class="icon-basket"></i> </span></a>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <a routerLink="/category/1" class="btn btn-block theme-btn--dark1 btn--lg mt-70">Go back to shop</a>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="!Wish.length">
            <h3 class="title mb-30 pb-25 text-capitalize">Your wishlist is empty</h3>
            <a routerLink="/category/1" class="btn btn-block theme-btn--dark1 btn--lg mt-70">Go back to shop</a>
        </div>
    </section>
</section>
<app-footer></app-footer>